/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Scrollbar Styling */

/* The background of the entire scrollbar track */
::-webkit-scrollbar {
    width: 10px;
}

/* Light Mode Styles */
::-webkit-scrollbar-track {
    background: #f5f5f4;
}

::-webkit-scrollbar-thumb {
    background: #d6d3d1;
    border-radius: 20px;
    border: 2px solid #f5f5f4;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a29e;
}

/* Dark Mode Styles */
.dark ::-webkit-scrollbar-track {
    background: #030712;
}

.dark ::-webkit-scrollbar-thumb {
    background: #1f2937;
    /* gray-800 */
    border-radius: 20px;
    border: 2px solid #030712;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
}